
<div class="container">
	<h4 style="margin : 0px">{{ site.texture.secondtagline }}</h4>
	<a href = "https://gemssingaporestudentcouncil.github.io/innovationweek2020/" syle="color:#fff!important"><h1 syle="color:#fff!important">{{ site.texture.title }}</h1></a>
	<h2>{{ site.texture.tagline }}</h2>
	<ul class="social">
		{%- if site.texture.social_links.instagram -%}
			<a href="https://instagram.com/{{ site.texture.social_links.instagram }}"><li><i class="icon-instagram-squared"></i></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.github -%}
			<a href="https://github.com/{{ site.texture.social_links.github }}"><li><i class="icon-github-circled"></i></li></a>
		{%- endif -%}
	</ul>
</div>

