.portfolio-item .caption .caption-content p {
  padding: 0;
}

.no-gutters > .col, .no-gutters > [class*=col-] {
  margin-left: auto;
  margin-top: 50px;
  margin-right: auto;
  padding-bottom: 0px;
  height: 370px;
}

.bg-light {
  /*background-color: #ffffff !important;*/
}

