<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
</head>
<body>
	<script src="assets/js/mermaid.min.js"></script>
	<header class="texture-{{ site.texture.style }}">
		{%- include page_header.html -%}	
	</header>
	<main>
		<br>
		<div class="container">
			{{ content }}
		</div>
		<div style="background-color: #212121;height:60px;"><center>
		<p style="padding: 15px; margin: 0px; color: white">Made by GEMS Singapore Student Council • Hosted on GitHub</p>
	</center></div>
	</main>
	<br>
	<br>
	
</body>
	
</html>
