<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
</head>
<body>
	<script src="assets/js/mermaid.min.js"></script>
	<header class="texture-{{ site.texture.style }}">
		<div class="container">
			{%- include nav.html -%}
		</div>
		{%- include page_header.html -%}	
	</header>
	<main>
		<br>
		<div class="container">
			{{ content }}
		</div>
	</main>
	
</body>
	<footer style = "background-color: #212121; bottom:0; width: 100%; position:absolute" ><center>
		<p style ="padding: 10px; color: white">Made by GEMS Singapore Student Council • Hosted on GitHub</p>
	</center></footer>
</html>
